- var theme_customizer      = true;
- var tooltip               = true;
- var counter               = true;
- var print                 = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body(style="font-family: 'Outfit', sans-serif; display: block;")
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        +breadcrumb(['Ecommerce','Invoice-4'],'Invoice-4')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container.invoice-2
            .card 
              .card-body
                table.table-wrapper.table-responsive.theme-scrollbar
                  tbody 
                    tr 
                      td 
                        table.table-responsive(style='width: 100%;')
                          tbody 
                            tr(style="padding: 28px 0 5px; display: flex; justify-content: space-between;") 
                              td
                                h4(style="font-size:42px; font-weight: 600;color: #7A70BA; margin:0;") INVOICE
                                ul(style="list-style: none; display: flex; gap:15px; padding: 0; margin: 20px 0;")
                                    li 
                                        span(style=" font-size: 16px; font-weight: 600; opacity: 0.8;") Invoice to :
                                    li 
                                        span(style="font-weight:600;font-size: 16px; color: #7A70BA; display: block; margin-bottom: 8px;") Brooklyn Simmons
                                        span(style="width: 75%; display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;") 2972 Westheimer Rd. Santa Ana, Illinois 85486 
                                        span(style="line-height:1.9;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;") Phone : (219) 555-0114
                                        span(style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;") Email : yourmail@themesforest.com
                                        span(style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;") Website: www.websites.com
                              td
                                img.img-fluid.for-light(src='../assets/images/logo/logo.png', alt='' style="margin-bottom: 14px;")
                                img.img-fluid.for-dark(src='../assets/images/logo/logo_light.png', alt='' style="margin-bottom: 14px;")
                                span(style="display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;") 2118 Thornridge Cir. Syracuse, Connecticut 35624, United State
                                span(style="display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;") Phone : (239) 555-0108
                                span(style="display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;") Email : Mofi@themesforest.com
                                span(style="display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;") Website: www.Mofithemes.com
                    tr 
                        td 
                            table.table-responsive(style='width: 100%; border-spacing: 4px; margin-bottom: 20px;')
                                tbody
                                    tr 
                                        td(style="background: rgba(122, 112, 186 , 0.1);padding: 15px 25px;")
                                            p(style="font-size:16px; font-weight:500; color:#7A70BA; opacity:0.8; margin:0;line-height: 2;") Date :
                                            span(style="font-size: 16px; font-weight: 600;") 10 Mar, 2023
                                        td(style="background: rgba(122, 112, 186 , 0.1);padding: 15px 25px;") 
                                            p(style="font-size:16px; font-weight:500; color:#7A70BA; opacity:0.8; margin:0;line-height: 2;") Invoice No :
                                            span(style="font-size: 16px; font-weight: 600;") #VL25000365
                                        td(style="background: rgba(122, 112, 186 , 0.1);padding: 15px 25px;") 
                                            p(style="font-size:16px; font-weight:500; color:#7A70BA; opacity:0.8; margin:0;line-height: 2;") Account No :
                                            span(style="font-size: 16px; font-weight: 600;") 0981234098765
                                        td(style="background: rgba(122, 112, 186 , 0.1);padding: 15px 25px;") 
                                            p(style="font-size:16px; font-weight:500; color:#7A70BA; opacity:0.8; margin:0;line-height: 2;") Due Amount :
                                            span(style="font-size: 16px; font-weight: 600;") $7860.00

                            
                    tr 
                      td 
                        table.table-responsive(style='width: 100%; border-spacing:0;')
                          thead 
                            tr(style="background: #7A70BA;") 
                              th(style="padding: 18px 15px;text-align: left; position: relative; border-top-left-radius: 10px;")
                                span(style="color: #fff; font-size: 16px; font-weight: 600;") Description
                              th(style="padding: 18px 15px;text-align: center")
                                span(style="color: #fff; font-size: 16px; font-weight: 600;") Unite Price
                              th(style="padding: 18px 15px;text-align: center")
                                span(style="color: #fff; font-size: 16px; font-weight: 600;") Quantity
                              th(style="padding: 18px 15px;text-align: center;position: relative; border-top-right-radius: 10px;")
                                span(style="color: #fff; font-size: 16px; font-weight: 600;") Subtotal
                          tbody
                            tr
                              td(style="padding: 30px;")
                                h4(style="font-weight:600; margin:4px 0px; font-size: 16px; color: #7A70BA;") Proposal & Brochure Design
                                span(style="opacity: 0.8; font-size: 16px;") Regular License
                              td(style="width: 12%; text-align: center;")
                                span(style="opacity: 0.8;") $300.00
                              td(style="width: 12%; text-align: center;") 
                                span(style="opacity: 0.8;") 1
                              td(style="width: 12%; text-align: center;") 
                                span(style="color: #7A70BA; font-weight: 600;opacity: 0.9;") $300.00
                            tr
                              td(style="padding: 0 30px 30px;")
                                h4(style="font-weight:600; margin:4px 0px; font-size: 16px; color: #7A70BA;") Web design and development
                                span(style="opacity: 0.8; font-size: 16px;") Regular License
                              td(style="width: 12%; text-align: center;")
                                span(style="opacity: 0.8;") $400.00
                              td(style="width: 12%; text-align: center;") 
                                span(style="opacity: 0.8;") 2
                              td(style="width: 12%; text-align: center;") 
                                span(style="color: #7A70BA; font-weight: 600;opacity: 0.9;") $800.00
                            tr
                              td(style="padding: 0 30px 30px;")
                                h4(style="font-weight:600; margin:4px 0px; font-size: 16px; color: #7A70BA;") Logo & Brand  design
                                span(style="opacity: 0.8; font-size: 16px;") Regular License
                              td(style="width: 12%; text-align: center;")
                                span(style="opacity: 0.8;") $240.00
                              td(style="width: 12%; text-align: center;") 
                                span(style="opacity: 0.8;") 2
                              td(style="width: 12%; text-align: center;") 
                                span(style="color: #7A70BA; font-weight: 600;opacity: 0.9;") $4800.00
                            tr
                              td(style="padding: 0 30px 30px;")
                                h4(style="font-weight:600; margin:4px 0px; font-size: 16px; color: #7A70BA;") Stationary Design
                                span(style="opacity: 0.8; font-size: 16px;") Regular License
                              td(style="width: 12%; text-align: center;")
                                span(style="opacity: 0.8;") $100.00
                              td(style="width: 12%; text-align: center;") 
                                span(style="opacity: 0.8;") 1
                              td(style="width: 12%; text-align: center;") 
                                span(style="color: #7A70BA; font-weight: 600;opacity: 0.9;") $100.00
                    tr(style="height:3px; width: 100%; background: linear-gradient(90deg, #7A70BA 20.61%, #0DA759 103.6%); display:block; margin-top: 6px;")
                    tr 
                        td
                            table(style="width:100%;")
                                tbody
                                    tr(style="display:flex; justify-content: space-between; margin:16px 0 24px 0; align-items: end;")
                                        td(style="display: flex; gap: 10px;")
                                            span(style="color: #7A70BA; font-size: 16px; font-weight: 500; font-weight: 600;") Payment Teams : 
                                            span(style=" display:block; line-height: 1.5;  font-size: 16px; font-weight: 400; width: 55%;") This denotes a payment credit for a full month's supply.
                                        td
                                            ul(style="padding: 0; margin: 0; list-style: none;")
                                                li(style="display:flex; padding-bottom: 16px;")  
                                                    span(style="display: block; width: 95px; ") Subtotal           
                                                    span(style="display: block; width:25px;") :
                                                    span(style="display: block;  width: 95px; color: #7A70BA; opacity: 0.9; font-weight:600;") $6100.00
                                                li(style="display:flex; padding-bottom: 16px;") 
                                                    span(style="display: block; width: 95px; ") Tax
                                                    span(style="display: block; width:25px;")  :
                                                    span(style="display: block; width: 95px;color: #7A70BA; opacity: 0.9; font-weight:600;") $50.00
                                                li(style="display:flex; padding-bottom: 20px;") 
                                                    span(style="display: block; width: 95px; ") Discount     
                                                    span(style="display: block; width:25px;")      :
                                                    span(style="display: block; width: 95px;color: #7A70BA; opacity: 0.9; font-weight:600;") $30.00
                                                li(style="display:flex; align-items: center;") 
                                                    span(style="display: block; width: 95px; ") Total Due
                                                    span(style="display: block; color: #7A70BA; opacity: 0.9; font-weight:600; padding: 12px 25px; border-radius: 5px; background: rgba(122, 112, 186 , 0.1); font-size: 16px;") $6120.00
                    tr(style="width: 100%; display: flex; justify-content: space-between;")
                        td 
                            img(src="../assets/images/email-template/invoice-3/sign.png" alt="sign")
                            span(style="color: #7A70BA;display: block;font-size: 16px;font-weight: 600;") Laurine T. Ebbert
                            span(style=" display: block; font-size: 14px; padding-top: 5px;") ( Designer )
                        td 
                          span(style="display: flex; justify-content: end; gap: 15px;")
                            a(style="background: rgba(122, 112, 186, 1); color:rgba(255, 255, 255, 1);border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;" href="#!" onclick="window.print();") Print Invoice
                              i.icon-arrow-right(style="font-size:13px;font-weight:bold; margin-left: 10px;")
                            a(style="background: rgba(122, 112, 186, 0.1);color: rgba(122, 112, 186, 1);border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;" href="../template/invoice-1.html" download='') Download
                              i.icon-arrow-right(style="font-size:13px;font-weight:bold; margin-left: 10px;")
        include ../../components/footer
    include ../../components/footer-files

                    
            